---
layout: page
title: "Lebenslauf"
date: 
modified:
excerpt: Ein Überblick über meinen bisherigen beruflichen Werdegang sowie meine schulische und akademische Ausbildung.
tags: [lebenslauf, cv, curriculum vitae, beruflicher werdegang, ausbildung]
image:
  feature: indian-country-wide.jpg
  credit: #Y. Nedderhoff
  creditlink: #http://yanicknedderhoff.com
share: false
---

<h3>Beruflicher Werdegang</h3>
<ul>
    <b>Freiberufliche Tätigkeiten im Bereich Computerlinguistik, Stuttgart</b><br>
    07/2015 - dato<br>
    <i>Querymodellierung, Programmierung (Python), Übersetzung (Englisch)</i>
</ul>
<ul>
    <b>VICO Research & Consulting GmbH, Leinfelden-Echterdingen</b><br>
    05/2013 - 09/2014: Werkstudent<br>
    <i>Querymodellierung, Sentimentannotation, Projektmanagement, Programmierung (Python), Übersetzung (Deutsch-Englisch), Erstellung von Präsentationen (PowerPoint)</i>
</ul>
<ul>
    <b>Institut für maschinelle Sprachverarbeitung, Universität Stuttgart</b><br>
    04/2011 - 03/2013: Studentische Hilfskraft<br>
    <i>Prosodieannotation nach ToBI, orthographische Transkription von Audiodaten, Korrektur automatisch generierter Sampa-Transkriptionen</i>
</ul>
<ul>
    <b>PariSozial, Lübbecke</b><br>
    04/2009 - 09/2009: Angestellter<br>
    <i>Mobile soziale Dienste</i>
</ul>
<ul>
    <b>PariSozial, Lübbecke</b><br>
    07/2008 - 03/2009: Zivildienstleistender<br>
    <i>Mobile soziale Dienste</i>
</ul>

<h3>Ausbildung</h3>

<ul>
    <b>M.Sc. Computational Linguistics, Universität Stuttgart</b><br>
    04/2013 - jetzt
    <br>
    <br>
    <u>Thesis:</u><br>
    <i> Rule-based sentiment analysis on heterogeneous dependency-parsed social media texts</i><br>
    In Kooperation mit <a href="http://www.vico-research.com/">VICO Research & Consulting GmbH</a><br>
    Betreuer: <a href="https://de.linkedin.com/pub/stefan-ploch/a3/919/7b">Dr. Stefan Ploch</a>, Prüfer: <a href="http://www.ims.uni-stuttgart.de/institut/mitarbeiter/jonas/">Prof. Dr. Jonas Kuhn</a> & <a href="http://www.romanklinger.de/">Dr. Roman Klinger</a>
</ul>
<ul>
    <b>B.Sc. Maschinelle Sprachverarbeitung, Universität Stuttgart</b><br>
    10/2009 - 03/2013
    <br>
    <br>
    <u>Thesis:</u><br>
    <i>Linguistische Features zur automatischen Klassifikation von Review-Relevanz</i><br>
    Betreuer: <a href="http://www.ims.uni-stuttgart.de/institut/mitarbeiter/scheibcn/">Christian Scheible</a>, Prüfer: <a href="http://www.cis.uni-muenchen.de/schuetze/">Prof. Dr. Hinrich Schütze</a> & Christian Scheible
</ul>
<ul>
    <b>Allgemeine Hochschulreife, Söderblom Gymnasium, Espelkamp</b><br>
    08/1999 - 06/2008
</ul>
