---
layout: page
title: "Fähigkeiten"
date: 
modified:
excerpt: Ein Überblick über meine Kenntnisse in verschiedenen Sprachen, Technologien, Werkzeugen und Methoden.
tags: [skills, fähigkeiten, kenntnisse, sprachkenntnisse, sprachen, deutsch, englisch, portugiesisch, französisch, Python, Bash, Java, JavaScript, PHP, Latex, HTML, CSS, XML, Markdown, Git, GitHub, Eclipse, PyCharm, Jekyll, Brackets, Idle, Weka, Moses, Refactoring, Unit Tests]
image:
  feature: indian-country-wide.jpg
  credit: #Y. Nedderhoff
  creditlink: #http://yanicknedderhoff.com
share: false
---

<h3>Sprachen</h3>
<ul>
    <b>Deutsch</b> - Muttersprache<br>
    <b>Englisch</b> - Fließend<br>
    <b>Portugiesisch</b> - Grundkenntnisse (B1.1)<br>
    <b>Französisch</b> - Grundkenntnisse (Schulkenntnisse)<br>
</ul>
</body>
</html>

<h3>Technologien, Werkzeuge, Methoden</h3>
<ul>
    <b>Programmiersprachen</b><br>
    Bash, Java, JavaScript, PHP, Python
</ul>
<ul>
    <b>Auszeichnungssprachen</b><br>
    CSS, HTML, Latex, XML-Technologien
</ul>
<ul>
    <b>Methoden</b><br>
    Refactoring, Scrum, Unit Tests
</ul>
<ul>
    <b>Werkzeuge</b><br>
    Brackets, Eclipse, Git & GitHub, Idle, Jekyll, PyCharm
</ul>
<ul>
    <b>Textverarbeitung</b><br>
    Google Docs, LibreOffice, Microsoft Office
</ul>
<ul>
    <b>Betriebssysteme</b><br>
    Linux (Fedora, Ubuntu), Windows (7, 8, 10)
</ul>
