<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">
<!--googleoff: snippet-->
{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <!--
    <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
    {% for post in site.posts limit:5 %}
    <article>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
      {% else %}
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
      {% endif %}
    </article>
    {% endfor %}
    -->

    <br>
    <b>Yanick Nedderhoff</b></br>
    <span style="color:darkgray"><i>B.Sc. Maschinelle Sprachverarbeitung</i></span><br>
    </br>
    <a href="mailto:mail@nedderhoff.xyz" target="_blank"><i class="fa fa-fw fa-envelope"></i> mail@nedderhoff.xyz</a> <a href="http://www.nedderhoff.xyz/yanick-nedderhoff.asc" style="color:darkgray">[pgp]</a><br>
    <i class="fa fa-fw fa-phone"></i> +49 179 9093490</a><br>
    <br>
    <!--googleon: snippet-->
    Ich bin Student im Masterstudiengang M.Sc. Computational Linguistics am Institut für maschinelle Sprachverarbeitung der Universität Stuttgart.<br>
    <br>
    Zuletzt habe ich mich überwiegend mit folgenden Themen beschäftigt:
    <br>
    <ul>
        <li>Sentimentanalyse</li>
        <li>Dependency Parsing</li>
        <li>Part-Of-Speech Tagging</li>
        <li>Machine Learning</li>
        <li>Baumautomaten</li>
    </ul>
    <!--
    <br>
    Außerdem mache ich <a href="http://soundcloud.com/ynedderhoff">Musik</a> und bin gerne auf Reisen (zuletzt u.a. in Australien, Frankreich, Indonesien, Italien, Island, Mexiko, Neuseeland, Singapur, USA).
    -->
<!--
    <a class="twitter-timeline" href="https://twitter.com/YNedderhoff" data-widget-id="639934927048450048">Tweets von @YNedderhoff </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    
-->

  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
